@{
  ViewBag.Title = "About Me";
}

<h1>About Mark</h1>

<div id="content">
  <p class="photo">
    <img src="~/Content/mjg.jpg" />
  </p>
  <p>
      Mark Gleberzon is a Toronto-born artist, an Honours graduate from the Ontario College of Art (now OCADU). He has a long history of selling his art actively in Canada and the US and prides himself knowing his work can be found in every continent (yes, even Antarctica according to a buyer who was studying penguins). Select work has been sold in galleries in Canada, the US, Paris (France) and Fukuoka (Japan).
      Mark graduated in Communication & Design but transitioned back to his fine art painting where he seemed happiest. Always experimenting and enjoying the creative process, Mark has developed several series of paintings as well as mixed media collage incorporating his photography and other elements.
      Mark is happy to work with clients when it comes to private commissions while as a gallery owner, is happy to work one-on-one with new to seasoned art collectors as well as those working in the world of interior design & spacial decor. 
  </p>
</div>
